*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(8333794461b7d319a0959053301e391a.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;


}

.head{
    padding: 1%;
    height: fit-content;
    margin: 3%;
    border-radius: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 3px white;
}
.head{
    background-image: linear-gradient(10deg, green, rgb(0, 195, 255));
}
.headline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.tai-logo{
    width: 20%;
    border-radius: 100%;
}
a{
    color: whitesmoke;
    text-decoration: underline yellow;
    text-underline-position: below 8px;
}
a:hover{
      filter: drop-shadow(1px 10px 4px white);
}
.h-name{
    color: skyblue;
    filter: drop-shadow( 1px 4px 5px red);
}
.nav-bar{
    width: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}
.home-poster{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-page{
    color: azure;
    margin: 8%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}
.Hello{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: aqua;
}
.im{
    font-size: 1.9rem;
    font-weight: 550;
    color: #f53939;
}
.tai-poster{
    width: 80%;
    cursor: pointer;
    transition: 1.5s ease;
}
.tai-poster{
    transform: scale(1.1);
}
.tai-poster:hover{
    filter: drop-shadow(1px 2px 5px rgb(0, 225, 255));
}
.int-p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
